
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.col-lg-3, .col-md-4, .col-sm-6, .col-12 {
  padding: 10px;
  box-sizing: border-box;
}

.card {
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 200px; /* Fixed height for all images */
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}


.card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card .title {
  color: #777;
  font-size: 0.9rem;
}

.btn-outline-success {
  border-color: #28a745;
  color: #ffffff;
  transition: all 0.3s ease;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.popup img {
  width: 100%;
  height: auto;
}

.popup h3 {
  margin-top: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all 0.2s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.close:hover {
  color: #06D85F;
}

card text-center a{
  text-decoration: none;
}
@media only screen and (max-width: 992px) {
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .popup {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
