/* Enhanced Footer Styling for Improved Aesthetics */

.footer-app-footer {
  background-color: #343a40;
  color: #fff;
  padding: 40px 20px;
  border-top: 4px solid #007bff;
  /* Adding a top border for a distinct look */
}

.footer-footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
  padding: 0 15px;
}

.footer-footer-section h4 {
  color: #199a1d;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer-footer-section p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #ccc;
}

.footer-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-link:hover {
  color: #0056b3;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-social-links a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.footer-social-links a:hover {
  transform: scale(1.1);
}

.footer-footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  color: #ccc;
  margin-top: 40px;
  border-top: 1px solid #555;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer-footer-content {
    justify-content: center;
    text-align: center;
  }

  .footer-footer-section {
    margin-bottom: 30px;
    flex-basis: 100%;
  }

  .footer-social-links {
    justify-content: space-around;
  }
}