/* .container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #28a745;
}

.card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 15px;
}

.content-summary {
    color: #666;
    line-height: 1.6;
    margin: 15px;
    text-align: justify;
}

.btn-outline-success {
    border: 2px solid #28a745;
    color: #28a745;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}

.btn-rounded {
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    .card {
        margin-bottom: 30px;
    }
} */